<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>newMultiPageCrud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletConfirm</display-name>
    <servlet-name>servletConfirm</servlet-name>
    <servlet-class>com.deepak.multipageForm.servletConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletConfirm</servlet-name>
    <url-pattern>/servletConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NEWREC</display-name>
    <servlet-name>NEWREC</servlet-name>
    <servlet-class>com.deepak.multipageForm.NEWREC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NEWREC</servlet-name>
    <url-pattern>/NEWREC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileDownload</display-name>
    <servlet-name>fileDownload</servlet-name>
    <servlet-class>com.deepak.multipageForm.fileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileDownload</servlet-name>
    <url-pattern>/fileDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileSubmit</display-name>
    <servlet-name>fileSubmit</servlet-name>
    <servlet-class>com.deepak.multipageForm.fileSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileSubmit</servlet-name>
    <url-pattern>/fileSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileDelete</display-name>
    <servlet-name>fileDelete</servlet-name>
    <servlet-class>com.deepak.multipageForm.fileDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileDelete</servlet-name>
    <url-pattern>/fileDelete</url-pattern>
  </servlet-mapping>
</web-app>